.user-name{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
  text-transform: capitalize;
}
  
  .home-greeting {
    color: navy;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .home-heading {
    color: navy;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-logout {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: navy;
    cursor: pointer;
  }
  
  .net-transactions-values {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .net-transactions-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    margin: 20px;
  }
  
  .net-transactions-amount {
    font-size: 18px;
    font-weight: bold;
    display: block;
  }
  
  .net-transactions-title {
    color: navy;
    margin-top: 10px;
  }
  
  .transactions-container {
    width: 80%;
    margin: auto;
    min-height: 250px;
    padding: 20px;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar{
    width: 3px;
  }
  
  .add-transaction {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
.greeting-header {
  width: 100%;
  background-color: #081A51;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.greeting-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.greet {
  font-size: 1.5em;
  margin: 0;
}

.time-date-wrapper {
  display: flex;
  align-items: center;
}

.time, .date {
  font-size: 1.2em;
  margin: 0 10px;
}

.home-logout{
  border: none;
  width: 150px;
  color: white;
  background:red;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* .separator {
  font-size: 1.2em;
} */


@media only screen and (max-width: 600px) {
  .greet {
      font-size: 1.2em;
  }
  .time, .date {
      font-size: 1em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .greet {
      font-size: 1.3em;
  }
  .time, .date {
      font-size: 1.1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .greet {
      font-size: 1.4em;
  }
  .time, .date {
      font-size: 1.15em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .greet {
      font-size: 1.45em;
  }
  .time, .date {
      font-size: 1.18em;
  }
}

@media only screen and (min-width: 1200px) {
  .greet {
      font-size: 1.5em;
  }
  .time, .date {
      font-size: 1.2em;
  }
}
